.bio,
.short,
.long {
    overflow: hidden;
    opacity: 0;
    animation: var(--fade-animation);
}

p {
    margin: 0;
    cursor: default;
}

.bio > div > p {
   margin-top: 1em;
}

.bio > div > p:first-child {
   margin-top: 0;
}

.long > div > p {
    text-indent: var(--indent);
}

.long > div > p:first-child {
    text-indent: 0;
}

.short::before,
.long::before {
    content: "\A ";
    display: block;
    white-space: pre;
}

strong {
    color: var(--purple);
    font-weight: normal;
}