.bio,
.short,
.long {
    overflow: hidden;
}

.short, .long {
    opacity: 0;
}

p {
    margin: 0;
    cursor: default;
}

.long > div > p {
    text-indent: var(--indent);
}

.short::before {
    content: "\A ";
    display: block;
    white-space: pre;
}

strong {
    color: #ffffff;
    background: var(--purple);
    display: inline-block;
    padding: 10px;
    padding-top: 6px;
    line-height: 100%;
}
