/*----------------------------------------
Media Queries
----------------------------------------*/

@media only screen and (max-width: 349px) {
    :root {
        --font-size: 2rem;
        --line-height: 115%;
        --padding: 15px;
        --underline-weight: 2px;
        --underline-offset: 2px;
        --indent: 50px;
    }
}

@media only screen and (min-width: 350px) {
    :root {
        --font-size: 2.2rem;
        --line-height: 115%;
        --padding: 20px;
        --underline-weight: 3px;
        --underline-offset:2px;
        --indent: 75px;
    }
}

@media only screen and (min-width: 600px) {
    :root {
        --font-size: 3rem;
        --line-height: 115%;
        --padding: 25px;
        --underline-weight: 3px;
        --underline-offset: 2px;
        --indent: 150px;
    }
}

@media only screen and (min-width: 1200px) {
    :root {
        --font-size: 4rem;
        --line-height: 115%;
        --padding: 30px;
        --underline-weight: 4px;
        --underline-offset: 3px;
        --indent: 200px;
    }
}

/*----------------------------------------
Variables
----------------------------------------*/

:root {
    --purple: #9d4dff;
}

/*----------------------------------------
Main
----------------------------------------*/

* {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

@-ms-viewport {
    width: device-width;
}

::selection {
    color: #ffffff;
    background: var(--purple);
}
::-moz-selection {
    color: #ffffff;
    background: var(--purple);
}

html body {
    position: absolute;
    width: 100vw;
    min-height: 100vh;
    min-height: -webkit-fill-available;
    margin: 0;
    padding: 0;
    font-family: untitled_serif_regular;
    font-size: var(--font-size);
    line-height: var(--line-height);
    background: var(--background-colour);
    overflow-y: scroll;
}

/*----------------------------------------
Typography
----------------------------------------*/

@font-face {
    font-family: "untitled_serif_regular";
    src: url("../fonts/untitled_serif/untitled_serif_regular.woff2") format("woff2"),
        url("../fonts/untitled_serif/untitled_serif_regular.woff") format("woff");
}

@font-face {
    font-family: "untitled_serif_regular_italic";
    src: url("../fonts/untitled_serif/untitled_serif_regular_italic.woff2") format("woff2"),
        url("../fonts/untitled_serif/untitled_serif_regular_italic.woff") format("woff");
}
