.standard, .link {
    text-decoration: underline;
    text-decoration-thickness: var(--underline-weight);
    text-decoration-skip:none;
    text-decoration-skip-ink: none;
    text-underline-offset: var(--underline-offset);
    text-decoration-color: var(--purple);
    cursor: pointer;
}

.link {
    color: var(--purple);
}

.link:hover {
    font-family: untitled_serif_regular_italic;
}