.toggleContainer {
    width: max-content;
}

.toggle {
    color: var(--purple);
    cursor: pointer;
    width: max-content;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    user-select: none;
    opacity: 0;
    animation: var(--fade-animation);
    margin-top: 1em;
}

.italic:hover {
    font-family: untitled_serif_regular_italic;
    letter-spacing: -0.45px;
}